
<md-toolbar class="md-tall headroom fixed"
            headroom offset="128" tolerance="10">
  <div class="md-toolbar-tools fluid">
    <div ng-include="'components/speaker/toolbar/menu-button.html'"></div>
    <h2>
      <span ng-bind="currentLecture.name"></span>
    </h2>
    <span flex></span>
    <md-button class="md-icon-button" aria-label="search">
      <md-icon md-font-library="material-icons">search</md-icon>
    </md-button>
    <md-button class="md-icon-button" aria-label="more">
      <md-icon md-font-library="material-icons">more_vert</md-icon>
    </md-button>
  </div>

  <span flex></span>
  <div class="tabs-container" layout layout-align="center end">
    <div class="tabs-wrapper" layout="column">
      <div layout="row" layout-align="center end" class="buttons">

        <md-button class="tab" ng-class="{active:currentTab() == 'active1'}" ui-sref="lecture({lectureId:currentLecture._id})">
          <span ng-show="isMedium() || isLarge()">Lectures</span>
          <md-icon ng-show="isSmall()" md-font-library="material-icons">dvr</md-icon>
        </md-button>

        <md-button class="tab" ui-sref-active="active" ui-sref="polls({lectureId:currentLecture._id})">
          <span ng-show="isMedium() || isLarge()">Polls</span>
          <md-icon ng-show="isSmall()" md-font-library="material-icons">poll</md-icon>
        </md-button>

        <md-button class="tab" ui-sref-active="active" ui-sref="questions({lectureId:currentLecture._id})">
          <span ng-show="isMedium() || isLarge()">Questions</span>
          <md-icon ng-show="isSmall()" md-font-library="material-icons">chat</md-icon>
        </md-button>

      </div>
      <div class="borders" ng-class="currentTab()">
        <div class="border"></div>
      </div>
    </div>
  </div>
</md-toolbar>

<div class="toolbar-height-offset"></div>

