<md-toolbar class="md-tall">
  <div class="md-toolbar-tools">
      <md-button hide-lt-md ng-hide="leftNavLocked" class="md-icon-button"
                 ng-click="toggleLeft()" aria-label="Settings">
        <md-icon md-font-library="material-icons">menu</md-icon>
      </md-button>
    <md-button hide-gt-md class="md-icon-button"
               ng-click="toggleLeft()" aria-label="Settings">
      <md-icon md-font-library="material-icons">menu</md-icon>
    </md-button>
    <h2>
      <span>{{getTitle()}}</span>
    </h2>
    <span flex></span>
    <md-button class="md-icon-button" aria-label="search">
      <md-icon md-font-library="material-icons">search</md-icon>
    </md-button>
    <md-button class="md-icon-button" aria-label="more">
      <md-icon md-font-library="material-icons">more_vert</md-icon>
    </md-button>
  </div>

  <span flex></span>
  <div class="tabs-container" layout layout-align="center end">
    <div class="tabs-wrapper" layout="column">
      <div layout="row" class="buttons">
        <md-button class="tab" ng-class="{active:currentTab() == 'active1'}" ui-sref="session({sessionId:currentSession()})">Sessions</md-button>
        <md-button class="tab" ui-sref-active="active" ui-sref="polls({sessionId:currentSession()})">Polls</md-button>
        <md-button class="tab" ui-sref-active="active" ui-sref="questions({sessionId:currentSession()})">Questions</md-button>
      </div>
      <div class="borders" ng-class="currentTab()">
        <div class="border"></div>
      </div>
    </div>
  </div>
</md-toolbar>
