poll-details {
  box-sizing: border-box;
   transition: width 0.2s linear;

  .wrapper {
    background-color: transparent;
    padding: 3px;
    z-index: 10;

    .header {
      position: relative;
      min-height: 400px;
      max-height: 400px;
      color: #ffffff;
      background-color: #e6f0f9;
      background-size: cover;

      h3 {
        color: #ffffff;
      }

      .poll-toolbar {
        width: 100%;
        bottom: 0;
        right: 0;

        md-fab-toolbar{
          bottom: 0;
          right: 0;
        }

        .label-icon{
          font-size: .5em;
          color: #ffffff;
        }
        .control{
          margin-left: 10px;
        }
      }

      .poll-title{
        position: absolute;
        bottom: 0;
        font-size: 24px;
        padding-left: 24px;
        z-index: 100;
      }

      .header-overlay{
        position: absolute;
        width: 100%;
        height: 100%;
        background: linear-gradient(to bottom,  rgba(19,19,19,0) 0%,rgba(0,0,0,0.4) 100%);
        z-index: 10;
      }
    }

    .content {
      background-color: #ffffff;
      .single-question {
        padding-left: 16px;
      }

      .md-subheader{
        position: relative;
        md-menu{
          position: absolute;
          right: 0;
          top: 0;
        }
      }
    }
  }

  &.fixed{
    height: 100%;
    z-index: 10;
    position: fixed;
    overflow-y: scroll;
    top: 0;
    right: 3px;
    width: 50%;
  }

  .empty-state{
    height: 300px;

    .infos{
      text-align: center;
      color: rgba(0,0,0,.54);
    }
  }

  .poll-title{
    position: absolute;
  }


}

@media screen and (max-width: 960px){
  #layout-detail .wrapper {
    padding: 0;
  }
}


.sidenav poll-details.fixed{
  width: calc((100% - 256px) / 2);
}


#preview-infos.title-toolbar {
  background-color: transparent;
}


