<div ng-controller="MainCtrl" layout flex>

    <!--
      LEFT SIDE NAV
    -->
    <md-sidenav id="left-nav"
                class="md-sidenav-left md-whiteframe-z2"
                md-component-id="left"
                md-is-locked-open="$mdMedia('gt-md') && leftNavLocked">

      <!--
        The side nav left has a fixed position
        the md-content tag makes his content scrollable when his content overflows
      -->
      <md-content>
        <md-list>
          <div ng-include="'components/user-widget/user-widget.html'"></div>
          <md-divider></md-divider>
          <md-subheader class="md-no-sticky">Lectures</md-subheader>
          <md-list-item ng-repeat="lecture in lectures" ng-click="goTo(lecture._id)" ng-class="{active: isActivated(lecture._id)}">
            <md-icon md-font-library="material-icons">dvr</md-icon>
            <p>{{lecture.name}}</p>
          </md-list-item>
          <md-list-item ng-click="showCreateSessionDialog()">
            <md-icon md-font-library="material-icons">add</md-icon>
            <p>Create new session</p>
        </md-list>
      </md-content>
    </md-sidenav>

    <!--
      PAGE CONTENT
    -->
    <div class="page-content" ng-class="{sidenav: hasSidenavLeft()}">

      <!-- This state includes the toolbar corresponding to the current state-->
      <div id="navigation" ui-view="navigation"></div>

      <!--CENTRAL VIEW-->
      <div ui-view=""></div>

    </div>

</div>


