<div ng-controller="MainCtrl" layout="column" style="height:100vh;" ng-cloak>

  <section layout="row" flex id="side-navigation">

    <!--LEFT SIDENAV-->
    <md-sidenav id="left-nav" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md') && leftNavLocked">

      <md-content ng-controller="LeftCtrl">

        <md-list>
          <div id="user" class="user" layout="column">
            <div layout="row">
              <md-list-item>
                <img alt="avatar" ng-src="https://material.angularjs.org/latest/img/100-0.jpeg" class="md-avatar"/>
              </md-list-item>
              <md-button ng-click="toggleLockLeft()" class="md-icon-button">
                <md-icon md-font-library="material-icons">{{pinIcon()}}</md-icon>
              </md-button>
            </div>
            <p class="body2"> John-doe@gmail.com  <md-icon md-font-library="material-icons">arrow_drop_down</md-icon></p>
          </div>

          <md-divider></md-divider>

          <md-subheader class="md-no-sticky">Sessions</md-subheader>

          <md-list-item ng-repeat="session in sessions" ng-click="goTo(session.id)" ng-class="{active: isActivated(session.id)}">
            <md-icon md-font-library="material-icons">dvr</md-icon>
            <p>{{session.title}}</p>
          </md-list-item>

        </md-list>
      </md-content>

    </md-sidenav>

    <!--CONTENT-->
    <md-content flex>

      <div id="navigation" ui-view="navigation"></div>
      <md-content>

        <!--MAIN VIEW-->
        <div ui-view=""></div>

        <div flex></div>
      </md-content>
    </md-content>

    <!--RIGHT SIDENAV-->
    <md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="right">
      <md-toolbar class="md-theme-light">
        <h1 class="md-toolbar-tools">Sidenav Right</h1>
      </md-toolbar>
      <md-content ng-controller="RightCtrl" layout-padding>
        <form>
          <md-input-container>
            <label for="testInput">Test input</label>
            <input type="text" id="testInput"
                   ng-model="data" md-autofocus>
          </md-input-container>
        </form>
        <md-button ng-click="close()" class="md-primary">
          Close Sidenav Right
        </md-button>
      </md-content>
    </md-sidenav>

  </section>
</div>


