
<md-input-container>
  <label>Name</label>
  <input aria-label="Lecture name" ng-model="lecture.name">
</md-input-container>
<md-input-container>
  <label>Description</label>
  <input aria-label="Lecture description" ng-model="lecture.description">
</md-input-container>

<md-button ng-click="saveLecture()" aria-label="save session">Save</md-button>

<md-content>
  <md-list>
    <md-list-item class="md-2-line" ng-repeat="lecture in lectures">
      <md-list-item-text>
        <h3 class="md-body-2">{{lecture.name}}</h3>
        <p class="md-caption">{{lecture.description}}</p>
      </md-list-item-text>
    </md-list-item>
  </md-list>
</md-content>
