<div id="dialog-edit-question">
  <md-toolbar class="primary">
    <div class="md-toolbar-tools"><span>Edit Title</span></div>
  </md-toolbar>
  <md-content layout-padding>

    <!--question-->
    <form name="questionForm">

      <md-input-container layout flex>
        <label>Title</label>
        <input aria-label="Poll title" md-autofocus ng-model="title">
      </md-input-container>

      <div layout layout-align="end center">
        <md-button aria-label="save" ng-click="cancel()">CANCEL</md-button>
        <md-button ng-submit aria-label="save" ng-click="save()">SAVE</md-button>
      </div>
    </form>
  </md-content>
</div>
