<md-dialog aria-label="Edit Lecture" id="dialog-add-lecture">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Create new Lecture</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-font-library="material-icons">close</md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content style="width: 100%">
      <md-tabs md-dynamic-height md-border-bottom>
        <md-tab label="Create">
          <md-content class="md-padding" layout flex layout-align="center center">
            <div layout="column" flex="66" flex-sm="80" flex-xs="100">
              <form name="lectureForm">
                <md-input-container class="md-block" flex-gt-sm>
                  <label>Name</label>
                  <input md-maxlength="30" required name="name" ng-model="lecture.name" />
                </md-input-container>

                <md-input-container class="md-block" flex-gt-sm>
                  <label>Privacy</label>
                  <md-select ng-model="lecture.isPrivate" required>
                    <md-option ng-repeat="v in visibilities" value="{{v.value}} ">
                      {{v.label}}
                    </md-option>
                  </md-select>
                </md-input-container>

                <md-input-container class="md-block" flex-gt-sm>
                  <label>Description</label>
                  <input md-maxlength="120" required name="description" ng-model="lecture.description" />
                </md-input-container>
              </form>
            </div>
          </md-content>
        </md-tab>
        <md-tab label="Share">
          <md-content class="md-padding" layout="column" layout-align="center center" flex>

            <p class="instructions">Ask your audience to join this lecture at</p>

            <div class="text-primary text-large">
              <a ui-sref="join">{{joinUrl}}</a>
            </div>

            <p class="instructions">and enter this key</p>

            <div class="text-primary text-large">
              {{lecture.key}} test
            </div>

            <!--<div layout layout-align="end center">-->
              <!--<md-button aria-label="save" ng-click="cancel()">CANCEL</md-button>-->
              <!--<md-button ng-submit aria-label="save" ng-click="finished()">FINISHED</md-button>-->
            <!--</div>-->

          </md-content>
        </md-tab>
      </md-tabs>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <span flex></span>
      <!--<md-button aria-label="save" ng-click="cancel()">CANCEL</md-button>-->
      <!--<md-button ng-submit aria-label="create" style="margin-right:20px;" ng-click="create()">CREATE</md-button>-->
      <!--<md-button ng-submit aria-label="save" ng-click="finished()">FINISHED</md-button>-->

    </md-dialog-actions>
</md-dialog>
