
<!--<div id="navigation" class="paper-header layout horizontal center transparent">-->
<!--<span class="flex"></span>-->
<!--<paper-tabs>-->
<!--<paper-tab>App Overviews</paper-tab>-->
<!--<paper-tab>How does it works</paper-tab>-->
<!--<paper-tab>Contact us</paper-tab>-->
<!--</paper-tabs>-->
<!--</div>-->

<paper-toolbar class="small">

    <!--<paper-icon-button id="navicon"-->
                       <!--icon="menu"></paper-icon-button>-->
    <!--&lt;!&ndash; flex class forces span to fill space between icons &ndash;&gt;-->
    <!--<span class="flex">Title</span>-->
    <!--&lt;!&ndash; icon displays at right because of span class above &ndash;&gt;-->
    <!--<paper-icon-button id="morebutton"-->
                       <!--icon="more-vert"></paper-icon-button>-->

    <div class="bottom fit">
        <div class="layout horizontal flex">
            <span class="flex-6 logo self-center">Revote</span>
            <paper-tabs class="flex-6" selected="0">
                <paper-tab on-tap="goToHome">Home</paper-tab>
                <paper-tab on-tap="goToSpec">Specifications</paper-tab>
                <paper-tab on-tap="goToApi">Doc Api</paper-tab>
            </paper-tabs>
        </div>
    </div>

</paper-toolbar>
