<paper-toolbar class="small">
    <div class="bottom fit">
        <div class="layout horizontal flex">
            <span class="flex-9 logo self-center">Polliwog</span>
            <paper-tabs class="flex-3" selected="0">
                <paper-tab on-tap="goToHome">Home</paper-tab>
                <!--<paper-tab on-tap="goToSpec">Specifications</paper-tab>-->
                <!--<paper-tab on-tap="goToApi">Doc Api</paper-tab>-->
            </paper-tabs>
        </div>
    </div>
</paper-toolbar>
