/* --------------------------------
   STYLE GUIDE VARIABLES

   Declarations of Sass variables
   ------------------------------ */

// Media Query Ranges
$small-screen-up: 601px !default;
$medium-screen-up: 993px !default;
$large-screen-up: 1201px !default;
$small-screen: 600px !default;
$medium-screen: 992px !default;
$large-screen: 1200px !default;


$color-primary: #00bcd4;



#app .md-open-menu-container{
  z-index: 999;
}


// Component styles are injected through grunt
// injector
@import 'account/login/login.scss';
@import 'admin/admin.scss';
@import 'audience/join/join.scss';
@import 'audience/presentation/presentation.scss';
@import 'directives/pollDetails/pollDetails.scss';
@import 'directives/pw-card-image/pw-card-image.scss';
@import 'directives/resource-list/resource-list.scss';
@import 'main/main.scss';
@import 'main/typography.scss';
@import 'speaker/home/home.scss';
@import 'speaker/lecture/lecture.scss';
@import 'speaker/polls/polls-details/polls-details.scss';
@import 'speaker/polls/polls.scss';
@import 'thing/thing.scss';
@import 'speaker/dialog-add-lecture/dialog-add-lecture.scss';
@import 'speaker/dialog-add-question/dialog-add-question.scss';
@import 'speaker/dialog-edit-title/dialog-edit-title.scss';
@import 'user-widget/user-widget.scss';
// endinjector
