
<div layout="row" class="polls-wrapper" ng-class="{'side-preview': previewVisible()}">

  <!--
   POLL LIST
  -->
  <div class="flex poll-list">
      <md-grid-list md-cols="2" md-cols-md="2" md-cols-gt-md="3"
                    md-row-height="1:1" md-row-height-gt-md="4:5"
                    md-gutter="5px" md-gutter-gt-md="3px">

      <!--single item -->
      <md-grid-tile ng-repeat="poll in polls" class="gray"
                    md-rowspan="1" md-colspan="1" md-colspan-sm="1">


        <!--clickable thumbnail with a ripple effect-->
        <div class="ripple" ng-click="select(poll)" layout-fill md-ink-ripple="#ebc754"></div>

          <!--Footer -->
          <div class="tile-footer" layout="row">

            <!--title-->
            <div layout="column">
              <div class="body2">
                <a ui-sref="polls.details({lectureId: currentLecture._id, pollId: poll._id})">{{poll.title}}</a>
              </div>
              <div class="body1">
                <!--TODO: put poll creation date -->
                {{ currentDate() | date: 'dd.MM.yy'}}
              </div>
            </div>

            <span class="flex"></span>

            <md-menu>
              <!--main button-->
              <md-button aria-label="Open phone interactions menu" class="md-icon-button" ng-click="openMenu($mdOpenMenu, $event)">
                <md-icon md-font-library="material-icons">more_vert</md-icon>
              </md-button>

              <!--menu-->
              <md-menu-content width="3">
                <md-menu-item>
                  <md-button ng-click="startPoll(poll)">
                    <md-icon md-font-library="material-icons">play_arrow</md-icon>
                    Start
                  </md-button>
                </md-menu-item>
                <md-menu-item>
                  <md-button ui-sref="polls.details({lectureId: currentLecture._id, pollId: poll._id})">
                    <md-icon md-font-library="material-icons">edit</md-icon>
                    Edit
                  </md-button>
                </md-menu-item>
                <md-menu-item>
                  <md-button ng-click="delete(poll)">
                    <md-icon md-font-library="material-icons">delete</md-icon>
                    delete
                  </md-button>
                </md-menu-item>
              </md-menu-content>
            </md-menu>
          </div>
      </md-grid-tile>

    </md-grid-list>

    <!--Floating action button to add polls-->
    <md-button aria-label="add poll" ng-click="addPoll()" class="md-fab custom bottom right md-accent md-raised">
      <md-tooltip md-direction="left">
        Add Poll
      </md-tooltip>
      <md-icon md-font-library="material-icons" aria-label="add poll">add</md-icon>
    </md-button>
  </div>

  <!--poll preview (invisible on mobiles)-->
  <poll-details ng-show="previewVisible() && polls.length > 0"
                ng-mouseenter="disableScrollOnBody()"
                ng-mouseleave="enableScrollOnBody()"
                class="flex fixed"
                poll="selected"
                mode="preview"
                image="defaultBackImage">
  </poll-details>
</div>
