
// remove strange border when clicked
.md-ink-ripple{
  outline: none;
  border: 0;
}

.gray {
  background-color: rgba(157,194,232,0.25);
}

.tile-footer{

  padding: 5px 0 5px 16px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;

  background-color: #eeeeee;

  .body2, .body1{
    margin-top: 2px;
    margin-bottom: 2px;
  }

  .body2 a:hover{
    color:#26c6da;
  }

  md-menu, .md-button.md-icon-button{
    height: 30px;
    line-height: 30px;
  }
}

.polls-wrapper{
  width: 100%;
//  transition: width 0.2s linear;

  &.side-preview{
    width: 50%;
  }
}

