
<div layout="row" id="poll-list" class="polls-wrapper" ng-class="{'side-preview': previewVisible()}">

  <!--
   POLL LIST
  -->
  <div class="flex poll-list">
    <md-grid-list md-cols="2" md-cols-sm="3" md-cols-gt-sm="2" md-cols-gt-md="3"
                  md-row-height="1:1" md-row-height-gt-md="4:5"
                  md-gutter="5px" md-gutter-gt-md="3px">

      <!--single item -->
      <md-grid-tile ng-repeat="poll in polls" class="gray"
                    md-rowspan="1" md-colspan="1" md-colspan-sm="1">

        <!--clickable thumbnail with a ripple effect-->
        <div class="ripple" ng-click="select(poll)" layout-fill md-ink-ripple="#ebc754">
          <div class="controls" ng-class="{visible: hover}" ng-mouseenter="hover = true" ng-mouseleave="hover = false"
               layout="row" flex layout-align="space-around center" ng-controller="PollVoteCtrl">
            <a href="#" ng-click="">
              <md-tooltip md-direction="bottom">Statistics</md-tooltip>
              <md-icon md-font-library="material-icons" class="ic-24">timeline</md-icon>
            </a>

            <a href ng-click="togglePollState(poll)">
              <md-tooltip md-direction="bottom">Start poll</md-tooltip>
              <md-icon ng-hide="poll.state == 'active'" md-font-library="material-icons" class="ic-48">play_arrow</md-icon>
              <md-icon ng-show="poll.state == 'active'" md-font-library="material-icons" class="ic-48">stop</md-icon>
            </a>

            <md-menu>
              <!--main button-->
              <a href="#" aria-label="Open phone interactions menu" class="md-icon-button" ng-click="openMenu($mdOpenMenu, $event)">
                <md-tooltip md-direction="bottom">Settings</md-tooltip>
                <md-icon md-font-library="material-icons" class="ic-24">more_horiz</md-icon>
              </a>

              <!--menu-->
              <md-menu-content width="3">
                <md-menu-item>
                  <md-button ui-sref="polls.details({lectureId: currentLecture._id, pollId: poll._id})">
                    <md-icon md-font-library="material-icons">edit</md-icon>
                    Edit
                  </md-button>
                </md-menu-item>
                <md-menu-item>
                  <md-button ng-click="delete(poll)">
                    <md-icon md-font-library="material-icons">delete</md-icon>
                    delete
                  </md-button>
                </md-menu-item>
              </md-menu-content>
            </md-menu>
          </div>
        </div>

        <md-grid-tile-footer>
          <div layout="row" flex>
            <h3><a ui-sref="polls.details({lectureId: currentLecture._id, pollId: poll._id})">{{poll.title}}</a></h3>
            <span class="poll-state-label footer" ng-class="getClassState(poll)" flex>active</span>
          </div>
        </md-grid-tile-footer>

  </md-grid-tile>

  </md-grid-list>

  <!--Floating action button to add polls-->
  <md-button aria-label="add poll" ng-click="addPoll()" class="md-fab custom bottom right md-accent md-raised">
    <md-tooltip md-direction="left">
      Add Poll
    </md-tooltip>
    <md-icon md-font-library="material-icons" aria-label="add poll">add</md-icon>
  </md-button>
</div>

<!--poll preview (invisible on mobiles)-->
<poll-details ng-show="previewVisible() && polls.length > 0"
              ng-mouseenter="disableScrollOnBody()"
              ng-mouseleave="enableScrollOnBody()"
              class="flex fixed"
              poll="selected"
              mode="preview"
              image="defaultBackImage">
</poll-details>
</div>
