
// remove strange border when clicked
.md-ink-ripple{
  outline: none;
  border: 0;
}

.gray {
  background-color: rgba(157,194,232,0.25);
}

.tile-footer{

  padding: 5px 0 5px 16px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;

  background-color: #eeeeee;

  .body2, .body1{
    margin-top: 2px;
    margin-bottom: 2px;
  }

  .body2 a:hover{
    color:#26c6da;
  }

  md-menu, .md-button.md-icon-button{
    height: 30px;
    line-height: 30px;
  }
}

.polls-wrapper{
  width: 100%;
//  transition: width 0.2s linear;

  &.side-preview{
    width: 50%;
  }
}

#poll-list .poll-list{

  .ripple{
    overflow: hidden;
  }

  .controls{

    height: 100%;
    overflow: hidden;
    background: linear-gradient(to bottom,  rgba(19,19,19,0) 0%,rgba(0,0,0,0.4) 100%);
    opacity: 0;
    transition: opacity .2s ease-in, transform .2s ease-in;
    transform: scale(1.5,1.5);

    md-icon{
      opacity: 0.9;
      border: 2px solid transparent;
      border-radius: 50%;
      padding: 2px;

    }

    md-icon:hover{
      opacity: 1;
      border-color: #fff;
    }

    md-icon:active{
      color: $color-primary;
    }
    .ic-48{

      font-weight: 100;
      color: white;
      height: 48px;
      width:48px;
      font-size: 48px;
    }

    .ic-24{
      color: white;
      height: 24px;
      width:24px;
      font-size: 24px;
    }

    .side-button{

    }
  }

  .controls.visible{
    opacity: 1;
    transform: scale(1,1);
  }

  md-grid-tile-footer{
    background-color: transparent;

    h3{
      font-weight: 400;
      font-size: 1.2em;
      display: inline-block;
      a{
        color:white;
      }
    }
  }

}

.wrapper .header .controls md-icon{
  margin: 20px;
}

.poll-state-label{

  border: 1px solid white;
  border-radius: 3px;
  padding: 3px;

  &.footer{
    margin-left: 20px;

  }

  &.active{
    color: #218B38;
    border-color: #218B38;
  }

  &.draft{
    color: whitesmoke;
    border-color: whitesmoke;
  }

  &.closed{
    color: #cd595a;
    border-color: #cd595a;
  }

}
