

@media screen and (min-width: 600px){

  md-toolbar#extended-toolbar{
    min-height: 192px;
    max-height: 192px;
    position: fixed;
    z-index: 1;
  }

  #layout-detail {
    margin-top: 40px;
    position: relative;
    z-index: 10;

    .wrapper{
      padding: 3px;
    }
    md-content{
      background-color: transparent;
    }
  }
}
