
<div id="form" class="section-primary" layout="column" flex layout-align="center center">

  <md-whiteframe class="md-whiteframe-1dp form-wrapper" layout-padding>

    <form class="form" name="form" ng-submit="login(form)" novalidate>

      <div class="form-title">
        <h1 class="title-1 text-primary">Login</h1>
      </div>

      <md-input-container class="md-block">
        <label>Email</label>
        <input name="email" ng-model="user.email" required ng-pattern="/^.+@.+\..+$/">
        <div ng-messages="form.email.$error">
          <div ng-message="required" ng-show="form.email.$error.required"> Please enter your email</div>
          <div ng-message="pattern" ng-show="form.email.$error.pattern"> Please enter a valid email</div>
        </div>
      </md-input-container>

      <md-input-container class="md-block">
        <label>Password</label>
        <input name="password" type="password" ng-model="user.password" required>
        <div ng-messages="form.password.$error" role="alert">
          <div ng-message="required" ng-show="form.password.$error.required"> Please enter your password</div>
        </div>
      </md-input-container>

      <md-input-container class="md-block no-margin">
        <div layout="row" layout-align="center center" flex>
          <md-checkbox ng-model="user.rememberMe" aria-label="Remember me" flex="50">
            Remember me
          </md-checkbox>
          <span flex></span>
          <md-button aria-label="login" class="md-primary" type="submit">login</md-button>
        </div>
      </md-input-container>

    </form>

    <div class="social-login" layout="column" layout-align="center center" flex>

      <span class="title">Or login with</span>

      <div class="social-icons" layout="row" layout-align="space-around center">
        <md-icon md-svg-src="assets/images/ic_facebook.svg" class="s48" aria-label="facebook"></md-icon>
        <md-icon md-svg-src="assets/images/ic_twitter.svg" class="s48" aria-label="twitter"></md-icon>
        <md-icon md-svg-src="assets/images/ic_google.svg" class="s48" aria-label="google"></md-icon>
      </div>

    </div>

  </md-whiteframe>

  <div>
    <p class="info-block">Don’t have an account yet ? <a ui-sref="signup">Create your account</a>,
      <br>it takes less than a minute.
    </p>
  </div>

</div>
