
#form md-input-container.md-block.no-margin {
  margin: 0;
}

#form md-checkbox {
  margin-bottom: 0;
}

.section-primary{
  background-color: #00bcd4;

  a {
    color: #ffff8d;
  }

  .info-block{
    color: white;
    text-align: center;
  }
}

#form .form-wrapper{
  background-color: #fff;
  width: 400px;
  padding: 0 30px 20px 30px !important;

  @media only screen and (max-width: $small-screen) {
    width: 90%;
    min-width: 300px;
  }

  .social-login{

    .social-icons
    {

      md-icon{
        width: 30px;
        height: 30px;
        opacity: 0.7;
        margin: 10px;
        transition: all linear .2s ;
      }

      md-icon:hover{
        opacity: 1;
        transform: rotate(10deg);
      }
    }
    .title{
      margin-bottom: 20px;
      opacity: .34;
    }
  }

  .form-title{
    margin-bottom: 60px;
  }

  .md-icon{
    opacity: 0.34;
  }
}
