<md-card>

  <!--Header-->
  <md-card-header>
    <md-card-avatar>
      <img src="{{logo}}"/>
    </md-card-avatar>
    <md-card-header-text>
      <span class="md-title">{{title}}</span>
      <span class="md-subhead">{{subTitle}}</span>
    </md-card-header-text>
    <span class="date">{{date}}</span>
  </md-card-header>

  <!--image preview-->

  <div ng-if="file">
    <img class="md-card-image" ng-src="{{file}}" alt="sample card"/>
  </div>

  <!--content-->
  <md-card-content class="card-content">
    {{content | limitTo: textContentLimit}}

    <span ng-if="textOverflow()">
      <md-button class="md-icon-button" ng-click="toggleCollapse()">
      <md-icon md-font-library="material-icons">more_horiz</md-icon>
      </md-button>
    </span>
  </md-card-content>

  <!--buttons & actions-->
  <md-card-actions layout layout-align="start center">

    <div ng-if="file">
      <md-button>Preview</md-button>
      <md-button>Download</md-button>
    </div>

    <span flex></span>

    <md-button class="md-icon-button">
      <md-icon md-font-library="material-icons">share</md-icon>
    </md-button>
  </md-card-actions>

</md-card>

