/**

 GENERAL STYLE

 1. MAIN
 2. LAYOUT
 3. NAVIGATION
 4. TABS
 5. CONTEXT MENU
 6. FLOATING ACTION BUTTON
*/

/* ==========  1. MAIN  ========== */

/*
* Make html take up the entire screen
* Then set touch-action to avoid touch delay on mobile IE
*/
html {
  width: 100%;
  height: 100%;
  touch-action: manipulation;
}

/*
* Make body take up the entire screen
* Remove body margin so layout containers don't cause extra overflow.
*/
body {
  width: 100%;
  min-height: 100%;
  margin: 0;
}


.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}


a{
  text-decoration: none;
  color: #000000;
}

.primary .md-toolbar-tools {

  span {
    color: #ffffff;
  }
}


/* ==========  2. LAYOUT  ========== */

.fluid {
  width: 100%;
}
.toolbar-height-offset{
  height: 128px;
}

.page-content{
  position:relative;
  transition: all 0.2s linear;
  width: 100%;

  &.sidenav{
    margin-left: 256px;
    width: calc(100% - 256px);

    .headroom{
          width: calc(100% - 256px);
          margin-left: 256px;
      }
  }
}


/**
 * Make the Header shrink when we scroll the page
 * improve the user experience
 *   Headroom.js is used for this purpose
 */
.headroom{

  transition: transform 0.1s linear, width 0.2s linear ;

  &.fixed{
    z-index: 30;
    position: fixed;
    right: 0;
    top: 0;
  }

  &.headroom--not-top{

  }

  &.headroom--unpinned{


    @media all and (min-width: 960px) {
      transform: translateY(-80px);
    }

    transform: translateY(-100%);

  }

  &.headroom--pinned{
    transform: translateY(-80px);

    &.headroom--top{
      transform: translateY(0%);
    }

  }
}

/**
 * Disable the scroll when the mouse
 * is already over a scrolling area
 * Improve the user experience
 */
body.overflow-hidden {
  overflow-y: hidden;
}

/* ==========  3. NAVIGATION  ========== */


#left-nav{
  position: fixed;

  &.md-locked-open{
    max-width: 256px;
    min-width: 256px;
  }

  md-list md-list-item.active{
    box-sizing: content-box;
    border-left: 3px solid #33cfe0;
  }

  @media all and (min-width: 900px){
    md-sidenav#left-nav{
      max-width: 256px;
    }
  }
}

#navigation a, #navigation span,  md-toolbar:not(.md-menu-toolbar) md-icon{
  color: white;
}


@media all and (min-width: 900px){
  md-sidenav#left-nav{
    max-width: 256px;
  }
}


/* ==========  4. TABS  ========== */

/**
 * Style the tab navigation to select between
 * Lecture, poll and question
 * Animate borders when we navigate (Material design tab)
 *
 * TODO: this code is not generic and should be improve (what happen if we add a new tab)
 */
.borders{
  width: calc(100% / 3);
  height: 2px;
  background-color: #ffff8d;
  transform: translate(0%,0);
  transition: transform 0.3s;
  will-change: transform;
}

.borders.active1{
  transform: translate(0%,0);
}

.borders.active2{
  transform: translate(100%,0);
}
.borders.active3{
  transform: translate(200%,0);
}

.tabs-container{
  width: 100%;
  position: absolute;
  bottom:0;
  left:0;

  .tabs-wrapper{
    position: relative;
    bottom: -30;

    .tab.md-button {
      opacity: 0.7;
      width: calc(100% / 3);
      margin: 0;
      border-radius: 0;
    }
    .tab.md-button.active{
      opacity: 1;
    }
  }
}

.tabs-wrapper{
  width: 80%;
}


/**
 * TABS on mobile
 * Show only an icon and tabs take the entire width
 * TODO: make this code generic (more than three tabs == issue)
 */
@media screen and (max-width: 600px){
  .tabs-wrapper{
    width: 100%;
  }

  .tabs-container .tabs-wrapper .tab.md-button {
    width: calc(100% / 3);
  }
  .borders {
    width: calc(100% / 3);
  }
}


/* ==========  5. CONTEXT MENU   ========== */

/**
 *Style for context menu (Material design)
 */
#app .md-open-menu-container.md-whiteframe-z2.md-active.md-clickable{
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12) !important;
}

#app md-menu-content{
  border-radius: 2px;
}
#app md-list-item .md-button *, #app .tabs-container *{
  border-radius: 0;
}


/* ==========  6. FLOATING ACTION BUTTON   ========== */

/**
 * FAB postion
 */
.md-fab{

  &.custom{
    position: fixed;
    margin: 20px;
  }

  &.top { top: 0; }

  &.bottom{ bottom: 0; }

  &.left{ left: 0; }

  &.right{ right: 0;}
}
