<!DOCTYPE html>
<html>

  {% include head.html %}

  <!-- hides the page with a splash screen until
  imports and Polymer are loaded. -->
  <body class="loading">

  <!-- 3. Light weight splash screen is outside of
  Polymer/imports and styled by the main page. -->
  <div id="splash"></div>

    {% include header.html %}
    {{ content }}
    {% include footer.html %}



  <!-- build:template:dist
  <script>
    var baseurl = "/Teaching-HEIGVD-TWEB-2015-Project";
  </script>
  /build -->
  <script>
  var baseurl = "";
  </script>

  <!-- build:[src]:dist /Teaching-HEIGVD-TWEB-2015-Project/scripts/ -->
  <script src="scripts/app.js" async></script>
  </body>

</html>
