<!DOCTYPE html>
<html>

{% include head-test.html %}

<!-- hides the page with a splash screen until
imports and Polymer are loaded. -->
<body class="fullbleed layout vertical">

<!-- 3. Light weight splash screen is outside of
Polymer/imports and styled by the main page. -->


<!--<template is="dom-bind" id="app">-->
<paper-header-panel class="flex layout vertical">
    {% include header.html %}
    {{ content }}
    {% include footer.html %}
</paper-header-panel>
<!--</template>-->

<!-- build:template:dist
<script>
  var baseurl = "<%=baseurl%>";
</script>
/build -->
<!-- build:template:dev
<script>
  var baseurl = "";
</script>
/build -->
<!-- build:[src]:dist <%= baseurl %>/scripts/ -->
</body>
</html>
