<div id="form" class="section-primary" layout="column" flex layout-align="center center">
  <md-whiteframe class="md-whiteframe-1dp form-wrapper" layout-padding>

    <form class="form" name="form" ng-submit="register(form)" novalidate>

      <div class="form-title">
        <h1 class="title-1 text-primary">Sign up</h1>
      </div>

      <md-input-container class="md-block">
        <label>Name</label>
        <input type="text" name="name" ng-model="user.name" required/>
        <div ng-messages="form.name.$error">
          <div ng-message="required" ng-show="form.name.$error.required"> Please enter your name</div>
        </div>
      </md-input-container>


      <md-input-container class="md-block">
        <label>Email</label>
        <input name="email" ng-model="user.email" required ng-pattern="/^.+@.+\..+$/">
        <div ng-messages="form.email.$error">
          <div ng-message="required" ng-show="form.email.$error.required"> Please enter your email</div>
          <div ng-message="pattern" ng-show="form.email.$error.pattern"> Please enter a valid email</div>
          <div ng-message="mongoose" ng-show="form.email.$error.mongoose"> {{ errors.email }}</div>
        </div>
      </md-input-container>


      <md-input-container class="md-block">
        <label>Password</label>
        <input type="password" name="password" class="form-control" ng-model="user.password"
               ng-minlength="3"
               required
               mongoose-error/>
        <div ng-messages="form.password.$error" role="alert">
          <div ng-message="required" ng-show="form.password.$error.required"> Please enter your password</div>
          <div ng-message="ng-minlength" ng-show="form.password.$error.minlength"> PPassword must be at least 3 characters.</div>
          <div ng-message="mongoose" ng-show="form.password.$error.mongoose">{{ errors.password }}</div>
        </div>
      </md-input-container>

      <md-input-container class="md-block no-margin">
        <div layout="row" layout-align="center center" flex>
          <span flex></span>
          <md-button aria-label="login" class="md-primary" type="submit">Sign up</md-button>
        </div>
      </md-input-container>

    </form>

    <div class="social-login" layout="column" layout-align="center center" flex>

      <span class="title">Or connect with</span>

      <div class="social-icons" layout="row" layout-align="space-around center">
        <a href="" ng-click="loginOauth('facebook')">
          <md-icon md-svg-src="assets/images/ic_facebook.svg" class="s48" aria-label="facebook"></md-icon>
        </a>
        <!--<a>-->
          <!--<md-icon md-svg-src="assets/images/ic_twitter.svg" class="s48" aria-label="twitter"></md-icon>-->
        <!--</md-button>-->
        <!--<md-button disabled="true">-->
          <!--<md-icon md-svg-src="assets/images/ic_google.svg" class="s48" aria-label="google"></md-icon>-->
        <!--</md-button>-->
      </div>

    </div>

  </md-whiteframe>

  <div>
    <p class="info-block">Already have an account ? <a ui-sref="login">Login</a></p>
  </div>
</div>

<!--<div class="container">-->
<!--<div class="row">-->
<!--<div class="col-sm-12">-->
<!--<h1>Sign up</h1>-->
<!--</div>-->
<!--<div class="col-sm-12">-->
<!--<form class="form" name="form" ng-submit="register(form)" novalidate>-->

<!--<div class="form-group" ng-class="{ 'has-success': form.name.$valid && submitted,-->
<!--'has-error': form.name.$invalid && submitted }">-->
<!--<label>Name</label>-->

<!--<input type="text" name="name" class="form-control" ng-model="user.name"-->
<!--required/>-->
<!--<p class="help-block" ng-show="form.name.$error.required && submitted">-->
<!--A name is required-->
<!--</p>-->
<!--</div>-->

<!--<div class="form-group" ng-class="{ 'has-success': form.email.$valid && submitted,-->
<!--'has-error': form.email.$invalid && submitted }">-->
<!--<label>Email</label>-->

<!--<input type="email" name="email" class="form-control" ng-model="user.email"-->
<!--required-->
<!--mongoose-error/>-->
<!--<p class="help-block" ng-show="form.email.$error.email && submitted">-->
<!--Doesn't look like a valid email.-->
<!--</p>-->
<!--<p class="help-block" ng-show="form.email.$error.required && submitted">-->
<!--What's your email address?-->
<!--</p>-->
<!--<p class="help-block" ng-show="form.email.$error.mongoose">-->
<!--{{ errors.email }}-->
<!--</p>-->
<!--</div>-->

<!--<div class="form-group" ng-class="{ 'has-success': form.password.$valid && submitted,-->
<!--'has-error': form.password.$invalid && submitted }">-->
<!--<label>Password</label>-->

<!--<input type="password" name="password" class="form-control" ng-model="user.password"-->
<!--ng-minlength="3"-->
<!--required-->
<!--mongoose-error/>-->
<!--<p class="help-block"-->
<!--ng-show="(form.password.$error.minlength || form.password.$error.required) && submitted">-->
<!--Password must be at least 3 characters.-->
<!--</p>-->
<!--<p class="help-block" ng-show="form.password.$error.mongoose">-->
<!--{{ errors.password }}-->
<!--</p>-->
<!--</div>-->
<!---->
<!--<div class="form-group" ng-class="{ 'has-success': form.password.$valid && submitted,-->
<!--'has-error': form.password.$invalid && submitted }">-->
<!--<label>User Type</label>-->
<!---->
<!--<input type="radio" name="type" value="speaker" class="form-control" ng-model="user.type"> Speaker-->
<!--<input type="radio" name="type" value="user" class="form-control" ng-model="user.type"> User-->
<!--</div>-->

<!--<div>-->
<!--<button class="btn btn-inverse btn-lg btn-login" type="submit">-->
<!--Sign up-->
<!--</button>-->
<!--<a class="btn btn-default btn-lg btn-register" href="/login">-->
<!--Login-->
<!--</a>-->
<!--</div>-->

<!--<hr>-->
<!--<div>-->
<!--<a class="btn btn-facebook" href="" ng-click="loginOauth('facebook')">-->
<!--<i class="fa fa-facebook"></i> Connect with Facebook-->
<!--</a>-->
<!--<a class="btn btn-google-plus" href="" ng-click="loginOauth('google')">-->
<!--<i class="fa fa-google-plus"></i> Connect with Google+-->
<!--</a>-->
<!--<a class="btn btn-twitter" href="" ng-click="loginOauth('twitter')">-->
<!--<i class="fa fa-twitter"></i> Connect with Twitter-->
<!--</a>-->
<!--</div>-->
<!--</form>-->
<!--</div>-->
<!--</div>-->
<!--<hr>-->
<!--</div>-->
